@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --white: #fff;
}

body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: "Raleway", sans-serif;
}
#principal{
    color: white;
}

.card{
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 20px;
    max-width: 20rem;
}


#titulo1{
    text-align: center;
    padding-top: 40px;
}

.card-text {
    text-align: left;
    font-size: 14px;
    color: #fff;

}

#card_qs{
    max-width: 22rem;
}

.card-body {    
    padding-top: 7px;
    padding-right: 0px;
    padding-left: 0;

}
.card-header {
    font-size: 27px;
}

#titulo2{
    text-align: center;
    padding-top: 30px;
   

}
#tarjetas article{
    align-items: center;
    justify-content: center;
}

.card-title {
    color: #fff;
text-align: left;    
}